<div class="detail-player">
  <button class="btn btn-danger" (click)="closePopUp()">x</button>


  <div class="card-block">

    <p>Esta seguro que desea eliminar este jugador</p>

  </div>

  <div class="card-footer">
    <button type="button" (click)="deletePlayer(player['id'])" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Eliminar</button>
    <button type="button" (click)="closePopUp()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Cancelar</button>

  </div>





</div>
