<div class="detail-player">
  <button class="close" (click)="closePopUp()">x</button>


  <div class="card-block">

    <p align="center"> ¿Esta seguro que desea eliminar el jugador <br><strong>"{{player?.first_name}} {{player?.last_name}}"  </strong>?</p>

  </div>

  <div class="card-footer">
    <button type="button" (click)="deletePlayer(player['id'])" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Eliminar</button>
    <button type="button" (click)="closePopUp()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancelar</button>

  </div>





</div>
