<div class="card-header">
          <strong>Formulario para Grupos</strong>
    
</div>

<div class="card-block">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Estado del grupo</label>
          <select formControlName="discipline" id="select" name="select" class="form-control" size="1">
            <option value="0">Please select</option>
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter a name" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Número de Ganadores</label>
          <input formControlName="name" type="number" class="form-control" name="edad" min="1" placeholder="Enter a number"/>
        </div>
      </div>
    </div>
</div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Guardar</button>
    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpiar</button>
  </div>