<header><nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <div class="header">
  	<img src="/assets/images/fix.png" alt="logo" /> &nbsp;
	</div>

    </div>
    <ul class="nav navbar-nav">
      <li class="active">  <a [routerLink]="['/']">Home</a></li>
      <li class="active">  <a [routerLink]="['/contact']">Contactenos</a></li>
      <li class="active">  <a [routerLink]="['/administrator']">Administrador</a></li>
    </ul>
  </div>
</nav>
</header>