<div class="card">

  <div class="card-header">
    <strong>Crear Equipos</strong>
    <small>Form</small>
  </div>

  <form [formGroup]="form" (ngSubmit)="createTeam($event); reset()">

    <div class="card-block">

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Torneo</label>
            <select formControlName="tournament" id="tournament" name="tournament" class="form-control" size="1">
              <option *ngFor="let tournament of tournaments" [value]="tournament.id">{{tournament.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Nombre del Equipo</label>
            <input formControlName="name"  type="text" class="form-control" id="name" placeholder="Ingrese nombre del equipo">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Tecnico</label>
            <input formControlName="coach_name" type="text" class="form-control" id="coach_name" placeholder="Enter a name " />
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Encargado</label>
          <input formControlName="delegate" type="text" class="form-control" id="delegate" placeholder="Enter a name " />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Capitan</label>
          <input formControlName="captain" type="text" class="form-control" id="captain" placeholder="Enter a captain name" />
        </div>
      </div>
    </div>

     <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Color de Uniforme</label>
          <input formControlName="uniform_color" type="text" class="form-control" id="uniform_color" placeholder="Enter a uniform color" />
        </div>
      </div>
    </div>
<!--
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Goles en contra</label>
            <input formControlName="goals_against" type="text" class="form-control" id="goals_against" placeholder="Enter a number" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Goles a favor</label>
            <input formControlName="goals_in_favor" type="text" class="form-control" id="goals_in_favor" placeholder="Enter a number" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Gol diferencia</label>
            <input formControlName="goals_difference" type="text" class="form-control" id="goals_difference" placeholder="Favor - Against" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Partidos ganados</label>
            <input formControlName="wins" type="text" class="form-control" id="wins" placeholder="Enter a number" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Partidos perdidos</label>
            <input formControlName="loses" type="text" class="form-control" id="loses" placeholder="Enter a number" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Partidos empatados</label>
            <input formControlName="draws" type="text" class="form-control" id="draws" placeholder="Enter a number" />
          </div>
        </div>
      </div>
-->
  </div> <!--end card-block-->

    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </form>

</div>

