<div class="animated fadeIn">
  <div class="card">
    <div class="card-header"><h2>{{tournament?.name}}</h2></div>
    <div class="card-header">
      <div class="row mb-1">
        <div class="col-md-4">
          <strong for="ot_discipline">Disciplina :</strong>
          <output id="ot_discipline"> <small>{{tournament?.discipline}}</small></output> &nbsp; &nbsp;
          <strong for="ot_gender">Género :</strong>
          <output id="ot_gender"><small>{{tournament?.gender}}</small></output> &nbsp; &nbsp;
          <strong for="ot_begin_date">Fecha Inicio :</strong>
          <output id="ot_begin_date"> <small>{{tournament?.begin_date}}</small></output> &nbsp; &nbsp;
          <strong for="ot_end_date">Fecha Final :</strong>
          <output id="ot_end_date"> <small>{{tournament?.end_date}}</small></output> &nbsp; &nbsp;
        </div>
      </div>
    </div>

    <div class="card-block">
      <div class="row mb-1">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th style="width: 10%">
            <mfDefaultSorter by="id">Id</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="coach_name">Entrenador</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="captain">Capitan</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="uniform_color">Uniforme</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let team of mf.data">
          <td class="text-left">{{team.id}}</td>
          <td>{{team.name}}</td>
          <td>{{team.coach_name}}</td>
          <td>{{team.captain}}</td>
          <td>{{team.uniform_color | uppercase}}</td>
          <td><a [routerLink]="['/players/team-view', team.id]">View Detail</a></td>
          <td><button (click)="openTeam(team)" class="btn btn-sm btn-outline-primary"> Editar</button></td>
          <td><button (click)="openTeamDelete(team)" class="btn btn-sm btn-outline-danger">Eliminar</button></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="card-footer">
      <button type="button" routerLink="/players/team-creation" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Agregar Equipo</button>
    </div>
  </div>
</div>

<!-- pop-up update team -->
<app-team-update *ngIf="showTeam" [team]="selectedTeam" (closeModal)="changeStatePopUp(false)"></app-team-update>
<!-- pop-up delete team -->
<app-team-delete *ngIf="showDelete" [team]="selectedTeam" (closeModal)="changeStatePopUpDelete(false)"></app-team-delete>
