<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">DataTable</div>
    <div class="card-block">
      <div class="row mb-1">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <table class="table table-striped" [mfData]="players | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th >
            <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="last_name">Apellido</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="team_ids:[]">Equipo</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="email">Correo</mfDefaultSorter>
          </th>
          <th style="width: 5%" >
            <mfDefaultSorter by="age">Edad</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="gender">Genero</mfDefaultSorter>
          </th>
          <th >
            <mfDefaultSorter by="career">Carrera</mfDefaultSorter>
          </th>
          <th style="width: 5%" >
            <mfDefaultSorter by="semester">Semestre</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of players">
          <td>{{player.first_name}}</td>
          <td>{{player.last_name}}</td>
          <td>{{player.team_ids}}</td>
          <td>{{player.email}}</td>
          <td class="text-right">{{player.age}}</td>
          <td>{{player.gender}}</td>
          <td>{{player.career | uppercase}}</td>
          <td>{{player.semester}}</td>
          <td><a (click)="openPlayer(player)" class="btn btn-green"> Editar</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="8">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="card-footer">
      <button type="button" (click)="goToCreatePlayer()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Agregar Jugador</button>
    </div>
  </div>
</div>

<app-player-detail *ngIf="showPlayer" [player]="selectedPlayer" (closeModal)="changeStatePopUp(false)"></app-player-detail>
