<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">Registro de Jugadores</div>
    <div class="card-block">
      <div class="row mb-1">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <table class="table table-striped" [mfData]="players | dataFilterFirstName : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th style="width: 10%">
            Nombre
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of mf.data">
          <td>{{player.first_name}}</td>
          <td><button (click)="openPlayer(player)" class="btn btn-sm btn-secondary  "> Editar</button></td>
          <td><button type="button" class="btn btn-sm btn-secondary">Eliminar</button></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="8">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="card-footer">
      <button type="button" (click)="goToCreatePlayer()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Agregar Jugador</button>
    </div>
  </div>
</div>

<app-player-detail *ngIf="showPlayer" [player]="selectedPlayer" (closeModal)="changeStatePopUp(false)"></app-player-detail>
