<div class="main main-raised">
			<div class="container">
		    	<div class="section text-center section-landing">
            <div class="row">
                <div class="col-md-7 col-md-offset-2">
                    <h2 class="title">How the platform work's</h2>
                    <h5 class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                    </h5>
                </div>
            </div>

            <div class="features">
              <div class="row">
                <div class="col-md-5">
                    <div class="info">
                      <div class="icon icon-danger">
                        <i class="material-icons">Play</i>
                      </div>
                      <h4 class="info-title">Third Feature</h4>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                      </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="info">
                      <div class="icon icon-danger">
                        <i class="material-icons">Play</i>
                      </div>
                      <h4 class="info-title">Third Feature</h4>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                      </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="info">
                      <div class="icon icon-danger">
                        <i class="material-icons">Play</i>
                      </div>
                      <h4 class="info-title">Third Feature</h4>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                      </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="info">
                      <div class="icon icon-danger">
                        <i class="material-icons">Play</i>
                      </div>
                      <h4 class="info-title">Third Feature</h4>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                      </p>
                    </div>
                </div>
                <div class="col-md-4">
                  <app-box-thing></app-box-thing>
                </div>
              </div>
            </div>
	        </div>
	      </div>
</div>