<div class="main main-raised">
			<div class="container">
		    	<div class="section text-center section-landing">
            <div class="row">
                <div class="col-md-7 col-md-offset-2">
                    <h2 class="title">Misión</h2>
                    <h5 class="description">
                      Desarrollar programas, proyectos y acciones de deportes, recreación, actividad física y aprovechamiento del tiempo libre en la Universidad Nacional orientados hacia la masificación e integración social comunitaria, generando hábitos y estilos de vida saludables dentro de un ambiente participativo de sana convivencia, en espacios adecuados y seguros.
                    </h5>
                     <a href="https://www.ingenieria.bogota.unal.edu.co/dependencias/direccion-de-bienestar/area-de-actividad-fisica-y-movimiento/torneos">acerca del Torneo</a> 
                </div>
            </div>

            <div class="features">
              <div class="row">
                <div class="col-md-5">
                    <div class="info">
                      <div class="icon icon-info">
                        <i class="material-icons">Fútbol</i>
                      </div>
                      <a href="https://www.ingenieria.bogota.unal.edu.co/imagenes/gestores/6693/torneos_de_integraci%C3%B3n_2017-i/convocatoriasdeapoyopagweb_008_ca60e.jpg">
                      <img src="assets/images/futbol.jpg" alt="fútbol" style="width:100px;height:100px;border:10"></a>
                      <p>24 equipos, 4 grupos, modalidad masculina. Posibilidad de formar parte del Equipo de la Facultad. Dirigido a Estudiantes de Pregrado y Posgrado de la Facultad de Ingeniería.
                      </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="info">
                      <div class="icon icon-info">
                        <i class="material-icons">Baloncesto</i>
                      </div>
                      <a href="https://www.ingenieria.bogota.unal.edu.co/index.php?option=com_k2&view=item&id=1266:baloncesto-masculino">
                      <img src="assets/images/baloncesto.jpg" alt="baloncesto" style="width:100px;height:100px;border:10"></a>
                      <p>Dos divisiones, alto rendimiento y amateur. Dirigido a Estudiantes de Pregrado y Posgrado de la Facultad de Ingeniería(se'permito la participación de maximó 2 integrantes de otras Facultades por equipo).
                      </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="info">
                      <div class="icon icon-info">
                        <i class="material-icons">Voleibol</i>
                      </div>
                      <a href="https://www.ingenieria.bogota.unal.edu.co/index.php?option=com_k2&view=item&id=1269:voleibol">
                      <img src="assets/images/voleibol.jpg" alt="voleibol" style="width:100px;height:100px;border:10"></a>
                      <p>Torneo mixto, dirigido a Estudiantes de Pregrado y Posgrado de la Facultad de Ingeniería(se'permito la participación de maximó 2 integrantes de otras Facultades por equipo).
                      </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="info">
                      <div class="icon icon-info">
                        <i class="material-icons">Fútbol Sala</i>
                      </div>
                      <a href="https://www.ingenieria.bogota.unal.edu.co/index.php?option=com_k2&view=item&id=1268:futbol-sala-masculino">
                      <img src="assets/images/futbol_sala.jpg" alt="futbol_sala" style="width:100px;height:100px;border:10"></a>
                      <p>24 equipos, 4 grupos, modalidad masculina. Posibilidad de formar parte del Equipo de la Facultad. Dirigido a Estudiantes de Pregrado y Posgrado de la Facultad de Ingeniería.
                      </p>
                    </div>
                </div>
               
              </div>
            </div>
	        </div>
	      </div>
</div>