<div class="animated fadeIn">
  <div class="card">
    <div class="card-header"><h2>{{team?.name}}</h2></div>
    <!-- Details of Team -->
    <div class="card-header">
      <div class="row mb-1">
        <div class="col-md-4">
          <strong for="ot_capitan">Capitán :</strong>
          <output id="ot_capitan"> <small>{{team?.captain}}</small></output> &nbsp; &nbsp;
          <strong for="ot_coach_name">Tecnico :</strong>
          <output id="ot_coach_name"> <small>{{team?.coach_name}}</small></output> &nbsp; &nbsp;
          <strong for="ot_uniform">Uniforme :</strong>
          <output id="ot_uniform"><small>{{team?.uniform_color}}</small></output> &nbsp; &nbsp;
        </div>
      </div>
    </div>
    <div class="card-block">



      <div class="row mb-1">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <table class="table table-striped" [mfData]="players | dataFilterField : filterQuery : 'first_name'" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th style="width: 50%">
            <mfDefaultSorter by="email">Documento</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="name">Apellido</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="age">Email</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="age">Teléfono</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="age">Carrera</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="age">Semestre</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="city">Genero</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="city">Age</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.document}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.contact_phone}}</td>
            <td>{{item.career}}</td>
            <td>{{item.semester}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.age}}</td>
          </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="card-footer">
      <button type="button" [routerLink]="['/players/player-creation', team?.id]" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Agregar Jugador</button>
    </div>
  </div>
</div>
