<!--<p>-->
  <!--match-list works!-->
<!--</p>-->

<!--<div *ngFor="let match of matches">-->
  <!--{{match.date}}-->
<!--</div>-->



      <table class="table table-striped">
        <thead>
        <tr>
          <th>Partido</th>
          <th>Fecha</th>
          <th>Locación</th>
          <th>Editar</th>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let match of matches">
          <td STYLE="
          display: flex;
          justify-content: space-between;
          align-items:flex-end ">
            <div>{{match.teams[0].name}}</div>
            <div> vs </div>
            <div>{{match.teams[0].name}}</div>
          </td>
          <td>{{match.date | date:  'dd/MM/yyyy HH:mm'}}</td>
          <td>{{match.game_field_location}}</td>
          <td>
            <app-match-edit-modal [match]="match" [team]="match.teams" [groupId]="groupId" ></app-match-edit-modal>
          </td>

        </tr>


        </tbody>
      </table>
      <!--<ul class="pagination">-->
        <!--<li class="page-item"><a class="page-link" href="#">Prev</a></li>-->
        <!--<li class="page-item active">-->
          <!--<a class="page-link" href="#">1</a>-->
        <!--</li>-->
        <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
        <!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
        <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
      <!--</ul>-->
