<div class="card-block">
  <div class="card-header"> Creación de Fase </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="name">Tipo de Fase</label>
        <select  id="select" name="select" class="form-control" size="1">
          <option value="0">Please select</option>
          <option value="1">Masculino</option>
          <option value="2">Femenino</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="name">Nombre del Equipo</label>
        <input  type="text" class="form-control" id="name" placeholder="Ingrese nombre del equipo">
      </div>
    </div>
  </div>

</div>

<div class="card card-inverse card-success">
  <div class="card-header">
    Card title
  </div>
  <div class="card-block">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  </div>
</div>

<div class="card-footer">
  <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
  <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
</div>
